<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Search page</h1>
    <main>
        <form action="/dosearch" method="POST">
        <input type="text" name="searchWords">
        <input type="radio" name="tupeOfsearch" value="tilte" id="">
        <input type="radio" name="tupeOfsearch" value="auther" id="">
        <input type="submit" value="search">

    </form>
    </main>
</body>
</html>